$dark-text: rgb(93,93,93);

.local-board-input-and-button {
  text-align: center;
  color: snow;
  padding: 0 40px 40px 40px;
}

.find-my-voting-area-button :first-child {
    background-color: #67bdb0;
}

.centre-textField {
  height: 50%;
  overflow: auto;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#loading-bar {
  text-align: center;
}

.field-button-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.voting-area {
  &__ward {
    font-size: 50px;
    font-weight: 900;
  }

  &__preamble {
    color: $dark-text;
    font-size: 20px;
  }
}