$grey-text: rgb(177,177,177);
$footer-colour: rgb(116,116,115);
$light-dark-text: rgba(77, 86, 93, .77);
$dark-text: rgb(93,93,93);

$button-colour: rgb(103,189,176);

$mayor-colour: rgb(161,220,255);
$councillor-colour: rgb(244,163,141);
$local-board-colour: rgb(255,211,143);

$mayor-breakdown-colour: rgb(236,248,255);
$councillor-breakdown-colour: rgb(253,237,232);
$local-board-breakdown-colour: rgb(255,246,233);

$small: 1000px;