#councillorCard {
  width: 400px;
  margin: 5px
}

.councilor-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 430px) {
  .councilor-card-container {
    height: 430px
  }

}