#councillorCard {
  width: 400px;
  margin: 5px
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 430px) {
  #councilorCardContainer{
    height: 430px
  }

}