$mayor-colour: #A1DCFF;
$councillor-colour: #f4a38d;
$local-board-colour: #FFD38F;

$mayor-breakdown-colour: #ecf8ff;
$councillor-breakdown-colour: #fdede8;
$local-board-breakdown-colour: #fff6e9;

$grey-text: #B1B1B1;
$light-dark-text: rgba(77, 86, 93, .77);
$dark-text: rgb(93,93,93);

.candidate-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.councillor {
  &-card {
    display: flex;
    margin: 10px;
    position: relative;
  }

  &-details {
    height: 610px;
    width: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-mayor {
    background-color: $mayor-colour;
  }

  &-councillor {
    background-color: $councillor-colour;
  }

  &-local-board {
    background-color: $local-board-colour;
  }

  &-image {
    &__container {
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    &__value {
      border-radius: 50%;
    }
  }

  &-info {
    text-align: center;

    &__name {
      color: snow;
      margin: 0;

      &-first {
        font-weight: 100;
      }
    }

    &__ticket {
      margin: 5px;
    }

    &__category {
      margin: 5px;
      width: 60px;
      height: 60px;
    }

    &__transport {
      background-color: #fee5c1;
    }

    &__housing {
      background-color: #fadae2;
    }

    &__environment {
      background-color: #bedfd9;
    }

    &__competence {
      background-color: #d5edfc;
    }

    &__scores {
      display: flex;
      justify-content: center;
    }

    &__score {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &-value {
        font-size: 28px;
        font-weight: 400;
        color: $light-dark-text;

        &--selected {

        }
      }
    }
  }

  &-score-breakdown-button {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 200px;
    position: absolute;
  }
}

.councillor-questions {
  color: snow;
}

.councillor-questions__question {
  display: flex;
  align-items: center;
}

.councillor-questions__breakdown-value {
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: $light-dark-text;
  margin-left: 5px;
}

.councillor-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.councillor-info-markers-consensus {
  width: 250px;
}

.councillor-info{

  &-markers-consensus-line {
    border-style: solid;
    color: snow;
  }

  &-markers-consensus-title {
    color: snow;
  }

  &__scores-container {
    margin-top: 40px;
  }
}

.candidate-breakdown {
  width: 616px;
  border-radius: 12px;

  &-inner {
    width: 600px;
    border-radius: 12px;
  }

  &-mayor {
    background-color: $mayor-breakdown-colour;
  }

  &-councillor {
    background-color: $councillor-breakdown-colour;
  }

  &-local-board {
    background-color: $local-board-breakdown-colour;
  }

  &__big-icon {
    margin: 8px 8px 0 8px;
    width: 100px;
    height: 100px;
  }

  &--selected {
    color: $dark-text;
  }

  &__category {
    color: snow;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

    &-scores {
      display: flex;
      flex-wrap: wrap;
    }

    &-score {
      display: flex;
      width: 160px;
      margin: 10px;

      &-icon {
        width: 60px;
        height: 60px;
        margin: 8px;
        align-items: center;
      }

      &-title {
        color: $dark-text;
        margin-top: 6px;
      }

      &-value {
        font-size: 25px;
        color: white;
        background-color: $grey-text;
        border-radius: 12%;
        padding: 4px;
      }
    }

    &-icon-and-score{
      text-align: center;
    }

    &-header {
      color: $dark-text;
      margin-left: 18px;
      padding-top: 5px;

      &-category {
        font-size: 30px;
        font-weight: bolder;
      }

      &-detailed-score {
        font-size: 20px;
      }

      &-total {
        font-size: 30px;
        font-weight: bolder;
        margin-left: 90px;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  &__details {
    width: 565px;
    height: 445px;
    margin-left: 18px;
    margin-top: 15px;
    background-color: #ecf8ff;
    border-radius: 2%;
  }
}

.candidate-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding-bottom: 50px;

  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-title {
    font-size: 30px;
    color: $dark-text;
    margin: 20px 0 15px 0;
    font-weight: 700;
  }
}

.candidate-grade {
  color: #fff;
  font-size: 59px;
  font-weight: 900;
}

.candidate-grade-bubble {
  position: absolute;
  z-index: 1;
  margin-left: 115px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 75px;
  background-image: linear-gradient(180deg, #747473, #747473);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-bottom: 30px solid black;
}

.card-3 {
  box-shadow: inset 0 -10px 20px rgba(0,0,0,0.19);
}
