.candidate-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.councillor {
  &-card {
    display: flex;
    margin: 10px;
  }

  &-details {
    height: 550px;
    width: 300px;
    background-color: #A1DCFF;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-image {
    &__container {
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    &__value {
      border-radius: 50%;
    }
  }

  &-info {
    text-align: center;

    &__name {
      color: snow;
      margin: 0;

      &-first {
        font-weight: 100;
      }
    }

    &__ticket {
      margin: 5px;
    }

    &__category {
      margin: 5px;
      width: 60px;
      height: 60px;
    }

    &__transport {
      background-color: #fee5c1;
    }

    &__housing {
      background-color: #fadae2;
    }

    &__environment {
      background-color: #bedfd9;
    }

    &__scores {
      display: flex;
      justify-content: center;
    }

    &__score {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &-value {
        font-size: 28px;
        font-weight: 400;
        color: rgba(77, 86, 93, .77);
      }
    }
  }

  &-score-breakdown-button {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 200px;
  }
}

.councillor-questions {
  color: snow;
}

.councillor-questions__question {
  display: flex;
  align-items: center;
}

.councillor-questions__breakdown-value {
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: rgba(77, 86, 93, .77);
  margin-left: 5px;
}

.councillor-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.councillor-info-markers-consensus {
  width: 250px;
}

.councillor-info{
  &-markers-consensus-scores {
    height: 190px;
  }

  &-markers-consensus-line {
    border-style: solid;
    color: snow;
  }

  &-markers-consensus-title {
    color: snow;
  }
}

.councillor-breakdown {
  height: 550px;
  width: 600px;
  background-color: #A1DCFF;
  border-radius: 12px;
  color: #A1DCFF;

  &-big-category {
    margin: 15px;
    width: 100px;
    height: 100px;
  }
}
