.header-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 17px;
  z-index: 1000;
  display: inline-block;
  align-items: center;
  color: snow;

  @media screen and (max-width: 700px) {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.gz-logo {
  width: 141px;
}

.nav-container {
  float: right;
}

.nav-item {
  padding: 0 10px 0 10px;
  color: snow;
  text-decoration: inherit;
}