.footer-container {
  color: snow;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 17px;
  display: inline-block;
  align-items: center;
  background-color: #747473;
  line-height: 43px;

}
.nav-container-footer {
  width: 100%;
  @media screen and (max-width: 700px) {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.authorised-by {
  color: #b1b1ad;
  font-size: 12px;
  text-align: center;
}