@import '../../container/global';

.what-we-asked {
  margin: 10px;
  text-align: center;

  &__title {
    color: $dark-text;
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
  }

  &__text {
    color: $light-dark-text;
    font-style: italic;
    font-size: 21px;
    line-height: 34px;
    width: 50%;
    margin: auto;

    @media screen and (max-width: 750px) {
      width: 90%;
    }
  }
}